[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests
[submodule "riscv-vector-tests"]
	path = riscv-vector-tests
	url = https://github.com/chipsalliance/riscv-vector-tests
